[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
openpyxl = "*"
django-filter = "*"
django-cors-headers = "*"
google-cloud-storage = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
pyjwt = "~=2.1.0"
gunicorn = "*"

[dev-packages]
pycodestyle = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
